@font-face {
    font-family: Karla;
    src: url(../../fonts/Karla.ttf);
}

@font-face {
    font-family: Impact;
    src: url(../../fonts/Impact.ttf);
}

h1, h2, body, p  {
    margin: 0;
    padding: 0;
}

body {
    font-family: Karla, sans-serif;
}