.header {
    padding: 24px 0;
    background: linear-gradient(90deg, #548AF5 1.18%, #F3CC7C 100%);
    text-align: center;

    h1 {
        color: #ffffff;
        font-weight: 800;
        font-size: 28px;
        line-height: 28px;
        letter-spacing: -0.1em;
        text-transform: uppercase;

        a {
            text-decoration: none;
            
            &:link {
                color: #ffffff;
            }
            
            &:visited {
                color: #ffffff;
            }        
        } 
    }
}