.header {
    padding: 12px;
    background: linear-gradient(90deg, #672280 1%, #a626d3 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        width: 48px;
        margin-right: 12px;
    }

    h1 {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 24px;
        letter-spacing: -0.1em;
    }
}