.footer {
    padding: 24px 0;
    background: linear-gradient(90deg, #F3CC7C 1.18%, #548AF5 100%);
    text-align: center;

    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -1px;

    a {
        text-decoration: none;
        
        &:link {
            color: #ffffff;
        }
        
        &:visited {
            color: #ffffff;
        }        
    } 
}